name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: atmigtnca
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
        env:
          # 여기가 핵심! 아까 만든 GH_TOKEN을 사용하도록 변경
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          # 배포(Push)는 기본 토큰으로 해도 됨
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
